<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="description" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
    <link rel="manifest" href="./images/favicon/site.webmanifest">
    <link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link href="../css/user/style.css" rel="stylesheet">
</head>
<body>
    <div id="page-header">
        <header id="header">
            <div class="openbtn1"><span></span><span></span><span></span></div>
            <nav id="g-nav">
                <div id="g-nav-list"><!--ナビの数が増えた場合縦スクロールするためのdiv※不要なら削除-->
                    <div class="g-nav-content">
                        <ul class="g-nav-list-main">
                            <li>
                                <div class="close-btn"></div>
                                <div id="search-wrap">
                                    <form role="search" method="get" id="searchform" action="">
                                        <input type="text" value="" name="" id="search-text" placeholder="search">
                                        <input type="submit" id="searchsubmit" value="">
                                    </form>
                                </div>
                            </li>
                            <li><a href="#">Top</a></li>  
                            <li><a href="#">CONCEPT</a></li>
                            <li><a href="#">GALLERY</a></li>
                            <li><a href="#">MONTHLY POP UP</a></li>
                            <li><a href="#">EVENT</a></li>
                            <li><a href="#">SCHEDULE</a></li>
                        </ul>
                        <div class="g-nav-list-link">
                            <ul class="link-icon-nav">
                                <li class="icon-instagram"><a href="#" target=”_blank” rel="noopener noreferrer">instagram</a></li>  
                                <li class="icon-twitter"><a href="#" target=”_blank” rel="noopener noreferrer">twitter</a></li>  
                                <li class="icon-facebook"><a href="#" target=”_blank” rel="noopener noreferrer">facebook</a></li>  
                                <li class="icon-youtube"><a href="#" target=”_blank” rel="noopener noreferrer">youtube</a></li>
                                <li class="icon-line"><a href="#" target=”_blank” rel="noopener noreferrer">line</a></li>
                            </ul>
                        </div>
                        <ul class="g-nav-list-sub">
                            <li><a href="#">ログイン&middot;新規登録</a></li>  
                            <li><a href="#">配送に関して</a></li>  
                            <li><a href="#">ご利用ガイド</a></li>  
                            <li><a href="#">プライバシーポリシー</a></li>
                            <li><a href="#">特定商取引に関する表示</a></li>
                            <li><a href="#">お問い合わせ</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <h1 class="logo">
                <a href="index.php">
                    <svg>
                        <use xlink:href="../images/logo/logo.svg#logo"></use>
                    </svg>
                </a>
            </h1>
            <div id="header-icon">
                <ul class="header-icon-btn">
                    <li class="account">
                        <a href="<?php echo url_for('accounts', 'index'); ?>">
                            <svg>
                                <use xlink:href="../images/icon/account.svg#account"></use>
                            </svg>
                        </a>
                        <ul class="child">
                            <li>
                                <div class="child-logout">
                                    <form action="index.php" method="post">
                                        <input type="submit" value="ログアウト">
                                        <input type="hidden" name="module" value="users">
                                        <input type="hidden" name="action" value="logout">
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="favorite">
                        <a href="<?php echo url_for('favorites', 'index'); ?>">
                            <svg>
                                <use xlink:href="../images/icon/favorite.svg#favorite"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="shopping-cart">
                        <a href="<?php echo url_for('carts', 'index'); ?>">
                            <span class="cart-count">2</span>
                            <svg>
                                <use xlink:href="../images/icon/shopping-cart.svg#shopping-cart"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
    </div>
    <div id="items" class="big-bg">
        <nav class="page-nav wrapper">
          <span>
            <a href="index.php?module=items&action=monthly_pop_up&schedule_id=<?php print h($records[0]->schedule_id); ?>">MONTHLY&nbsp;POP&nbsp;UP</a>
          </span>
          <span>&gt;</span>
          <span>
            <a href="index.php?module=items&action=monthly_pop_up&schedule_id=<?php print h($records[0]->schedule_id); ?>">BRANDS</a>
          </span>
          <span>&gt;</span>
          <span>
            <a href="index.php?module=items&action=monthly_pop_up&schedule_id=<?php print h($records[0]->schedule_id); ?>">item</a>
          </span>
          <span>&gt;</span>
        </nav><!-- / .page-nav -->
        <div class="box fadeUpTrigger">
            <section class="area" id="item-info">
                <div class="item-info wrapper">
                    <div id="fixed-area"><!--左固定エリア-->
                        <div class="item-photo-area">
                            <ul class="item-photo">
                                <li><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-4/img/01.jpg" alt=""></li>
                                <li><img src="../images/banner/pexels-serhii-volyk-10865058.jpg" alt=""></li>
                                <li><img src="../images/pexels-daria-shevtsova-880459.jpg" alt="商品画像"></li>
                                <li><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-4/img/04.jpg" alt=""></li>
                                <li><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-4/img/05.jpg" alt=""></li>
                                <li><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-4/img/06.jpg" alt=""></li>
                                <li><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-4/img/07.jpg" alt=""></li>
                                <li><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-4/img/08.jpg" alt=""></li>
                            </ul>
                            <ul class="choice-btn">
                                <li><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-4/img/01.jpg" alt=""></li>
                                <li><img src="../images/banner/pexels-serhii-volyk-10865058.jpg" alt=""></li>
                                <li><img src="../images/pexels-daria-shevtsova-880459.jpg" alt="商品画像"></li>
                                <li><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-4/img/04.jpg" alt=""></li>
                                <li><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-4/img/05.jpg" alt=""></li>
                                <li><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-4/img/06.jpg" alt=""></li>
                                <li><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-4/img/07.jpg" alt=""></li>
                                <li><img src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-2-4/img/08.jpg" alt=""></li>
                            </ul>
                        </div><!--/.gallery-info-->
                    </div><!--/fixed-area-->
                    <div id="container"><!--右エリア-->
                        <div class="box fadeUpTrigger">
                            <div class="right-section">
                                <div class="item-detail">
                                    <a href="index.php?module=items&action=detail&item_id=<?php print h($record->item_id); ?>">
                                        <p class="sub-lead">brand_name</p>
                                        <p class="main-lead">item_nameqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</p>
                                        <p class="mid-lead">&yen;10,000&nbsp;<span class="tax-in">(TAX&nbsp;IN)</span></p>
                                    </a>
                                    <div class="detail-stock">
                                        <p class="<?= $records[0]->stock ? 'true' : 'false' ?>">在庫数：50</p>
                                    </div>
                                    <div class="buttonwrap">
                                        <div class="cart-button">
                                            <form action="index.php" method="post">
                                              <input type="submit" value="ADD TO CART">
                                              <input type="hidden" name="module" value="carts">
                                              <input type="hidden" name="action" value="add">
                                              <input type="hidden" name="item_id" value="<?php print h($records[0]->item_id); ?>">
                                            </form>
                                        </div><!-- / .cart-button -->
                                        <div class="favorite-button">
                                            <form action="index.php" method="post">
                                                <label for="favorite">
                                                    <input id="favorite" type="submit" style="display: none;">
                                                    <svg>
                                                        <use xlink:href="../images/icon/favorite.svg#favorite"></use>
                                                    </svg>
                                                </label>
                                                <input type="hidden" name="module" value="favorite">
                                                <input type="hidden" name="action" value="add">
                                                <input type="hidden" name="item_id" value="<?php print h($records[0]->item_id); ?>">
                                            </form><!-- form /.favorite-add -->
                                            <!--<form action="index.php" method="post">-->
                                            <!--    <label for="favorite-black">-->
                                            <!--        <input id="favorite-black" type="submit" style="display: none;">-->
                                            <!--        <svg>-->
                                            <!--            <use xlink:href="../images/icon/favorite-black.svg#favorite-black"></use>-->
                                            <!--        </svg>-->
                                            <!--    </label>-->
                                            <!--    <input type="hidden" name="module" value="favorite">-->
                                            <!--    <input type="hidden" name="action" value="delete">-->
                                            <!--    <input type="hidden" name="item_id" value="<?php print h($records[0]->item_id); ?>">-->
                                            <!--</form><!-- form /.favorite-delete -->
                                        </div><!-- / .favorite-button -->
                                    </div><!-- / .buttonwrap -->
                                    <div class="group">
                                        <p class="group-description">アイテム説明：テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                        テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                                        <p class="group-category">ジャンル：バック</p>
                                    </div>
                                </div><!-- /.item-detail アイテム詳細-->
                            </div>
                        </div><!-- /.box fadeUpTrigger -->
                        <div class="box fadeUpTrigger">
                            <div class="right-section">
                              <div class="brand-detail">
                                  <div class="group">
                                      <h3 class="group-title"><a href="">ブランド名aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a></h3>
                                      <p class="group-description">ブランド説明：テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                      テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                                      <p class="group-hp"><a href="#" target=”_blank” rel="noopener noreferrer">https://www.codecamp.jp</a></p>
                                      <div class="group-link">
                                          <ul class="link-icon-nav">
                                              <li class="icon-instagram"><a href="#" target=”_blank” rel="noopener noreferrer">instagram</a></li>  
                                              <li class="icon-twitter"><a href="#" target=”_blank” rel="noopener noreferrer">twitter</a></li>  
                                              <li class="icon-facebook"><a href="#" target=”_blank” rel="noopener noreferrer">facebook</a></li>  
                                              <li class="icon-youtube"><a href="#" target=”_blank” rel="noopener noreferrer">youtube</a></li>
                                              <li class="icon-line"><a href="#" target=”_blank” rel="noopener noreferrer">line</a></li>
                                          </ul>
                                      </div>
                                      <p class="group-address">神奈川県横浜市００００００００００００</p>
                                      <p class="group-phone_number">045-000-0000</p>
                                      <p class="group-email">codecamp@codecamp.com</p>
                                  </div><!--/.group ブランド詳細-->
                                </div>
                            </div>
                        </div><!-- /.box fadeUpTrigger -->
                        <div class="box fadeUpTrigger">
                            <div class="right-section">
                              <div class="brand-detail">
                                  <div class="group">
                                      <h3 class="group-title">お取り扱いショップ</h3>
                                      <div class="shop-name">株式会社shop</div>
                                      <p class="group-description">ブランド説明：テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                                      テキストテキストテキストテキストテキストテキストテキストテキスト</p>
                                      <p class="group-hp"><a href="#" target=”_blank” rel="noopener noreferrer">https://www.codecamp.jp</a></p>
                                      <div class="group-link">
                                          <ul class="link-icon-nav">
                                              <li class="icon-instagram"><a href="#">instagram</a></li>  
                                              <li class="icon-twitter"><a href="#">twitter</a></li>  
                                              <li class="icon-facebook"><a href="#">facebook</a></li>  
                                              <li class="icon-youtube"><a href="#">youtube</a></li>
                                              <li class="icon-line"><a href="#">line</a></li>
                                          </ul>
                                      </div>
                                      <p class="group-address">神奈川県横浜市００００００００００００</p>
                                      <p class="group-phone_number">045-000-0000</p>
                                      <p class="group-email">codecamp@codecamp.com</p>
                                  </div><!--/.group お取り扱いショップ-->
                                </div>
                            </div>
                        </div><!-- /.box fadeUpTrigger -->
                    </div><!-- / .container -->
                </div><!-- / .item-info -->
            </section>
        </div><!-- /.box fadeUpTrigger #item-info-->
        <div class="box fadeUpTrigger">
            <section class="area" id="basebutton">
                <div class="basebutton wrapper">
                    <a href="<?php echo url_for('items', 'index'); ?>">
                        <span>アイテム一覧に戻る</span>
                    </a>
                </div>
            </section>
        </div><!-- /.box fadeUpTrigger #basebutton-->
        <div class="box fadeUpTrigger">
            <section class="area" id="f-nav">
                <div class="f-nav-area">
                    <div class="f-nav content">
                        <div class="f-nav-list-link">
                            <ul class="link-icon-nav">
                                <li class="icon-instagram"><a href="#" target=”_blank” rel="noopener noreferrer">instagram</a></li>  
                                <li class="icon-twitter"><a href="#" target=”_blank” rel="noopener noreferrer">twitter</a></li>  
                                <li class="icon-facebook"><a href="#" target=”_blank” rel="noopener noreferrer">facebook</a></li>  
                                <li class="icon-youtube"><a href="#" target=”_blank” rel="noopener noreferrer">youtube</a></li>
                                <li class="icon-line"><a href="#" target=”_blank” rel="noopener noreferrer">line</a></li>
                            </ul>
                        </div>
                        <ul class="f-nav-list-main">
                            <li><a href="#">Top</a></li>  
                            <li><a href="#">CONCEPT</a></li>  
                            <li><a href="#">GALLERY</a></li>  
                            <li><a href="#">MONTHLY POP UP</a></li>
                            <li><a href="#">EVENT</a></li>
                            <li><a href="#">SCHEDULE</a></li>
                        </ul>
                        <ul class="f-nav-list-sub">
                            <li><a href="#">ログイン&middot;新規登録</a></li>  
                            <li><a href="#">配送に関して</a></li>  
                            <li><a href="#">ご利用ガイド</a></li>  
                            <li><a href="#">プライバシーポリシー</a></li>
                            <li><a href="#">特定商取引に関する表示</a></li>
                            <li><a href="#">お問い合わせ</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div><!-- /.box fadeUpTrigger #f-nav-->
    </div><!-- / #detail .big-bg -->
    <footer>
        <p id="page-top"><a href="#"><span>Page Top</span></a></p>
        <div class="wrapper">
            <p><small>&copy;Copyright</small></p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/2.1.0/stickyfill.min.js"></script>
    <script src="../js/user/common.js"></script>
</body>

</html>
