@charset "UFT-8";
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
a,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  /*background: transparent;*/
  list-style: none;
  text-decoration: none;
  vertical-align: baseline;
  /*overflow: hidden;*/
}
/*共通部分---------------------------------------------------------------------*/
html {
  font-size: 100%;
}
body {
  font-family: sans-serif;
  line-height: 1.7;
  color: #384359;
  background-color: #bedee6;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
}
a:hover {
  opacity: 0.6;
  cursor: pointer;
}

/*ヘッダーの固定---------*/
/*.fixed {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/
/*main {*/
/*  flex: 1;*/
/*}*/

/*ヘッダー部分---------------------------------------------------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #fff;
}
.wrapper {
  max-width: 1240px;
  align-items: center;
  margin: 0 auto;
  padding: 0 4%;
}
.header-logo {
  width: 300px;
}
.header-logo h1 {
  font-size: 1.5rem;
}
.header-nav ul {
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.header-nav li {
  padding: 10px 15px;
}
.header-nav a {
  display: block;
}
.header-nav a:hover {
  color: #0000cd;
  opacity: 1;
}
.account {
  position: relative;
}
.child {
  visibility: hidden;
  width: 100%;
  position: absolute;
  top: 35px;
  left: -13px;
}
.account:hover .child {
  visibility: visible;
}
.child-logout input[type="submit"] {
  font-size: 1rem;
  background: #5caee6;
  color: #fff;
  border: 1px solid #5caee6;
  padding: 7px;
  margin: 0;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.child-logout input[type="submit"]:hover {
  opacity: 0.6;
}

/*body 全体---------------------------------------------------------------------*/
.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 15px 15px;
}
#dashboard .container,
#create .container,
#list .container,
#errors .container,
#update .container,
#login .container,
#accounts .container,
#logout .container {
  background-color: #fff;
  margin-bottom: 50px;
}
.title-nav {
  font-size: 0.8rem;
  margin-bottom: 20px;
}
/* #title .title {
  margin: 20px 0;
} */
#create .title,
#list .title,
#update .title {
  margin-bottom: 10px;
}
/*ログイン-----------------------------------------------------------------------------------------*/
#login .container {
  width: 500px;
  margin: 20px auto;
  padding: 15px 15px;
  background-color: #fff;
  margin-bottom: 50px;
}
#login header {
  text-align: center;
  vertical-align: top;
  margin-bottom: 15px;
}
.login-register-form {
  width: 500px;
}
.login-form,
.register-form {
  padding: 30px;
}
.login-register-form .admin_name,
.login-register-form .email,
.login-register-form .password {
  padding: 20px 0;
}
.sub {
  color: #c0c0c0;
  margin-left: 5px;
}

/*新規商品追加-------------------------------------------------------------------------------------*/
.create-form table,
.update-form table {
  border-spacing: 0;
}
.create-form th,
.update-form th {
  padding: 20px;
  /*border-bottom: 1px solid #384359;*/
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  vertical-align: middle;
  width: 200px;
}
.create-form td,
.update-form td {
  padding: 15px;
  width: 690px;
  vertical-align: middle;
  /*border-bottom: 1px solid #384359;*/
}
.hissu,
.ninni {
  display: inline-block;
  margin: 0 0 4px 10px;
  padding: 1px 5px;
  font-size: 60%;
  vertical-align: middle;
  opacity: 0.6;
  /*padding-left: 4em;*/
  /*position: relative;*/
}
.hissu {
  background: #d40000;
  border: 1px solid #d40000;
  color: #fff;
}
.ninni {
  background: #d2e5ff;
  border: 1px solid #d2e5ff;
  color: #333;
}
.files-addition {
  display: block;
  font-size: 11px;
  font-weight: 600;
}
/*.hissu::after,.ninni::after{*/
/*position: absolute;*/
/*right: 10px;*/
/*top: 13px;*/
/*    padding: 0 5px;*/
/*    font-size: 60%;*/
/*text-align: center;*/
/*}*/
/*.hissu:after {*/
/*    content: "必須";*/
/*    background: #d40000;*/
/*    border: 1px solid #d40000;*/
/*    color: #FFF;*/
/*}*/
/*.ninni:after {*/
/*    content: "任意";*/
/*    background: #d2e5ff;*/
/*    border: 1px solid #d2e5ff;*/
/*    color: #333;*/
/*}*/
form input[type="text"],
form input[type="password"],
form input[type="url"],
form input[type="tel"],
form input[type="email"],
form textarea {
  /*background: #f2f2f2;*/
  border: 1px solid #999;
  margin: 0 auto;
  width: 100%;
  line-height: 2;
  padding: 5px 10px;
  box-sizing: border-box;
}
form textarea {
  height: 200px;
}
form select {
  width: 200px;
  height: 30px;
  padding: 2px 5px;
  font-size: 0.9rem;
}
/* ::placeholder {
} */

@media (max-width: 500px) {
  form table,
  form tr,
  form th,
  form td {
    display: block;
  }
  form th {
    width: auto;
    border-bottom: none;
    padding: 13px 10px 0 5em;
  }
  .hissu::after,
  .ninni::after {
    right: auto;
    left: 15px;
  }
  form input[type="text"],
  form textarea {
    width: calc(100% - 10px);
  }
}
/*.form-text, .form-file, .form-checkbox,*/
/*.form-submit, .form-select, .form-description {*/
/*  display: block;*/
/*  padding: 5px;*/
/*  max-width: 950px;*/
/*}*/

/*更新時の画像表示------------------*/
.update-form .form-file .update-img {
  display: block;
  width: 300px;
  position: relative;
}
.update-form .form-file .update-img::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.update-form .form-file .update-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: contain;
}
.form-file .img-button {
  margin: 5px 0;
}

/*チェックボックス--------------------*/
.form-checkbox td {
  line-height: 25px; /*1行の高さ */
  letter-spacing: 0; /* 文字間 */
  text-align: center; /* 文字位置は中央 */
  font-size: 16px; /* 文字サイズ */
  /*position       : relative;  親要素が基点 */
  margin: auto; /* 中央寄せ */
  background: #fff; /* デフォルト背景色 */
}
.form-checkbox input {
  display: none;
}
.form-checkbox label {
  display: block;
  box-sizing: border-box;
  width: 100px;
  height: 28px;
  border: 2px solid #aaa;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
}
.form-checkbox input:checked + label {
  background: #f06060;
  border-color: #f06060;
}
.form-checkbox input:checked + label:before {
  left: 71px;
  background: #fff;
}

.form-checkbox label span:after {
  content: "非公開";
  padding-left: 20px;
  color: #aaa;
}
.form-checkbox input:checked + label span:after {
  content: "公開";
  padding-right: 43px;
  color: #fff;
}
.form-checkbox label:before {
  transition: 0.3s ease;
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  background: #aaa;
  top: 1px;
  left: 2px;
  box-sizing: border-box;
  border-radius: 50%;
}

/*カテゴリー変更時　元データ*/
/*.raw_data {*/
/*  color: #f06060;*/
/*}*/

/*description入力フォーム*/

/*下部ボタン-------------*/
input:not([type="text"]) {
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
  opacity: 0.6;
}
.form-buttonwrap {
  text-align: center;
  padding: 20px 0;
}
.form-buttonwrap input[type="submit"],
.form-buttonwrap input[type="button"],
.form-buttonwrap input[type="reset"] {
  display: inline-block;
  padding: 10px;
  text-align: center;
  margin: 5px;
  border: 1px solid;
  /*border-radius: 10px;*/
  width: 150px;
  color: #fff;
}
.form-buttonwrap input[type="submit"] {
  background: #5caee6;
}
.form-buttonwrap input[type="button"],
.form-buttonwrap input[type="reset"] {
  background: #aaa;
  border: none;
}
/* .alldelete .form-buttonwrap input[type="button"] {
  background:#5caee6;
} */
.alldelete .form-buttonwrap input[type="submit"] {
  background: #384359;
}
.home .form-buttonwrap input[type="button"] {
  background: #384359;
}

/* 検索・絞り込み・並べ替え 
--------------------------------- */
.search-sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 検索窓 */
.input-area {
  width: 40%;
}
.keyword form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.keyword form input:nth-child(1) {
  margin-right: 10px;
}
.keyword form input[type="submit"] {
  padding: 8px;
}
/* 絞り込み・並べ替え */
.select-area {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-area tr {
  line-height: 3;
}
.select-area th {
  font-size: 12px;
}
.select-area select {
  font-size: 12px;
  padding: 5px 0;
  text-align: center;
  cursor: pointer;
}

/*商品一覧------------------------------------------------------------------------------------------*/
.list-group {
  margin: 20px 0px;
}
.list-group table {
  width: 100%;
  border-collapse: collapse; /*隣接するセルのボーダーを、間を空けずに重ねて表示*/
  border-spacing: 0;
}
.list-group caption {
  text-align: left;
}
.list-group table,
.list-group tr,
.list-group th,
.list-group td {
  border: solid 0.8px #384359;
  border-width: 0px 0px 1px 0px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
.list-group thead {
  box-sizing: border-box;
  border-bottom: 2px solid #384359;
  color: #384359;
  font-size: 1rem;
}
.list-group .false {
  background-color: #eee;
}
.list-img {
  width: 75px;
  position: relative;
}
.list-img a {
  display: block;
  width: 100%;
  position: relative;
}
.list-img a::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.list-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: contain;
}
.list-id {
  width: 50px;
}
.list-group .list-name {
  padding: 10px 20px;
}
.list-info {
  width: 100px;
}
.list-stock,
.list-count {
  width: 70px;
}
.list-status {
  width: 100px;
}
.list-delete,
.list-detail .list-change {
  width: 50px;
}
.list-detail {
  width: 50px;
}
.list-exclusive {
  width: 200px;
}

/*商品名----------*/
.list-name a {
  display: block;
}
.list-name ul {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.list-name li {
  font-size: 0.5rem;
  /*margin: 1px 10px;*/
  padding: 1px 15px;
  opacity: 0.6;
}
/*.list-name .category-name {*/
/*  display: inline-block;*/
/*  border: 1px solid #e6bebe;*/
/*  color: #e6bebe;*/
/*}*/
/*.list-name .brand-name {*/
/*  display: block;*/
/*  border: 1px solid #bee6cb;*/
/*  color: #bee6cb;*/
/*}*/
/*.list-name .shop-name {*/
/*  display: block;*/
/*  border: 2px solid #e6e6be;*/
/*  color: #e6e6be;*/
/*}*/
.list-name .item-name {
  height: 100%;
  padding-bottom: 14px;
  font-style: bold;
  font-size: 1.2rem;
}
/*リストステータス*/
.status-checkbox {
  line-height: 24px; /* 1行の高さ */
  letter-spacing: 0; /* 文字間 */
  text-align: center; /* 文字位置は中央 */
  font-size: 13px; /* 文字サイズ */
  position: relative; /* 親要素が基点 */
  margin: auto; /* 中央寄せ */
  /* background     : #fff;  デフォルト背景色 */
}
.status-checkbox input[type="checkbox"] {
  display: none;
}
.status-checkbox label {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  width: 70px;
  height: 26px;
  border: 2px solid;
  border-radius: 30px;
  /*cursor: pointer;*/
  background: #aaa;
  border-color: #aaa;
}
.status-checkbox input[type="checkbox"]:checked + label {
  background: #f06060;
  border-color: #f06060;
}
.status-checkbox label span::after {
  content: "非公開";
  padding: 0 0 0 20px;
  color: #fff;
}
.status-checkbox input[type="checkbox"]:checked + label span::after {
  content: "公開";
  padding: 0 20px 0 0;
  color: #fff;
}
.status-checkbox .list-switch {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  top: 3px;
  left: 19px;
  border-radius: 26px;
  transition: 0.2s; /* 滑らか変化 */
}
.status-checkbox input[type="checkbox"]:checked ~ .list-switch {
  transform: translateX(42px); /* 丸も右へ移動 */
  background: #fff; /* カーソルタブの背景 */
}
/*削除・変更---------*/
.list-delete input[type="submit"],
.list-change input[type="submit"] {
  padding: 3px 5px;
  text-align: center;
  font-size: 0.8rem;
  border: 1px solid #384359;
  /*border-radius: 10px;*/
  width: 50px;
  background: #384359;
  color: #fff;
}
/*詳細---------*/
.list-detail a:hover {
  color: #0000cd;
  opacity: 1;
}
.list-detail {
  font-size: 0.9rem;
}

/* exclusive 
--------------------- */
.exclusive-link {
  text-align: right;
  text-decoration: underline;
}

.exclusive-link span {
  display: block;
}

/*404 ページエラー-----------------------------------------------------------------------*/
.message {
  text-align: center;
}
.message h1 {
  margin-bottom: 10px;
}

/*フラッシュ-----------------------------------------------------*/
.fade-message {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
  margin: 10px 0;
  padding: 15px 0;
  border-radius: 5px;
  width: 900px;
  -webkit-animation: fade-in-out 7s ease 1s forwards;
  animation: fade-in-out 7s ease 1s forwards;
  visibility: hidden;
  z-index: 1;
}
@-webkit-keyframes fade-in-out {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes fade-in-out {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.flash {
  color: blue;
  background: #ccf1ff;
  /*display: table-cell;*/
  /*vertical-align: middle;*/
  margin: 10px 0;
  padding: 15px 0;
  text-align: center;
  border-radius: 5px;
}
/*エラー -----------------------------------------------------------*/
.errors {
  color: red;
  background: #ffdacc;
  margin: 10px 0;
  padding: 15px 0;
  text-align: center;
  border-radius: 5px;
}

/*更新完了----------------------------------------------------------------------------*/
/* .completed {
} */
/*フッター-----------------------------------------------------------------------------*/
#footer .container {
  margin: 0 auto;
}
#footer p {
  text-align: center;
}

/* ページネーション ----------------------------------------------------------------------*/
/* レコード件数テキスト */
.paginations-text {
  padding: 5px 0;
  margin: 0 auto;
}
.from-to {
  font-size: 1rem;
  /*font-size: 1.6vw;*/
  font-weight: 400;
  text-align: center;
  line-height: 2.4;
  letter-spacing: 0.3em;
}
/* 戻る・進む */
a:link {
  text-decoration: none;
}
a.page_number:visited {
  text-decoration: none;
}
.paginations {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.page_feed {
  width: 30px;
  margin: 0 10px;
  padding: 5px 10px;
  text-align: center;
  background: #b8b8b8;
}
.first_last_page {
  width: 30px;
  margin: 0 10px;
  padding: 5px 10px;
  text-align: center;
  background: #f0f0f0;
}

/* ページ番号 */
a:link {
  text-decoration: none;
}
a.page_number:visited {
  text-decoration: none;
}
.page_number {
  width: 30px;
  margin: 0 10px;
  padding: 5px;
  text-align: center;
  background: #b8b8b8;
}
.now_page_number {
  width: 30px;
  margin: 0 10px;
  padding: 5px;
  text-align: center;
  background: #f0f0f0;
  font-weight: bold;
}
